@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background-color: #faf9f6;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-card::before{
    content: "";
    position: absolute;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
    top: 0;
    left: 0;
}

.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #697eed;
  padding: 3px;
  margin-bottom: 10px;
}

.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 3px solid #faf9f6;
}

.profile-card .text-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-info .name{
    font-size: 24px;
    font-weight: 500;
}

.text-info .job{
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.media-buttons .link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #faf9f6;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px ;
    background-color:#4070f4 ;
    text-decoration: none;
}

.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #697eed;
    cursor: pointer;
    transition: all 0.3 ease;
}

.buttons .button:hover{
    background-color: #21307f;
}

.profile-card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.analytics .info{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}

.info i{
    font-size: 18px;
    margin-right: 6px;
}

.info:last-child{
    border-right: none;
}